@font-face {
    font-family: "Zpix";
    src: url("static/Zpix.woff2.html") format("woff2");
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

.wallpaper {
    background-image: url("static/bg.gif");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.mobile-box-top,
.mobile-box-bottom {
    display: none;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100vh;
}

.alignment-text {
    padding: 200px;
    text-align: left!important;
}

h1 {
    margin: 0;
    font: bold 2vw "Zpix";
    color: #000;
}

.big {
    font: bold 4vw "Zpix";
    margin-bottom: 10px;
    animation: glitch 2s linear infinite;
}

.small {
    font: bold 0.5vw "Zpix";
    animation: glitch 2s linear infinite;
}

.hover-person:hover h1 { margin-left: 80px; }
.hover-person-2:hover h1 { margin-left: 68px; }

.footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font: bold 0.4vw "Zpix";
    color: #fff;
}

@media screen and (max-width: 768px) {

    .wallpaper {
        background-image: url("static/mobile-bg.gif");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .mobile-box-top,
    .mobile-box-bottom {
        display: block;
        position: absolute;
        width: 100%;
        background: black;
        z-index: -1;
    }

    .mobile-box-top {
        height: 12vh;
        top: 0;
    }

    .mobile-box-bottom {
        height: 12vh;
        bottom: 0;
    }

    .center-screen {
        justify-content: center;
        align-items: center;
    }

    .alignment-text {
        padding: 20px;
        text-align: center!important;
    }

    .big {
        font: bold clamp(24px, 10vw, 40px) "Zpix";
    }

    .small {
        font: bold clamp(12px, 5vw, 20px) "Zpix";
    }

    .hover-person:hover h1,
    .hover-person-2:hover h1 {
        margin-left: 0;
    }

    .footer {
        font: bold 12px "Zpix";
    }
}

@keyframes glitch {
    2%,64% { transform: translate(2px,0) skew(0deg); }
    4%,60% { transform: translate(-2px,0) skew(0deg); }
    62% { transform: translate(0,0) skew(5deg); }
}
